/* 
    Document   : webimagen
    Created on : 19/02/2013, 04:01:35 PM
    Author     : lcamach1
    Description:
        Purpose of the stylesheet follows.
*/

root { 
     display: block;
}

#form_login {
    text-align: center;
    margin-top: 100px;
    margin-left: 40%;
    margin-right: 40%;
}

.form_login_component {
	margin-top: 10px;
}

#submt_login {
	text-align: right;	
}

#info_user {
    width: 100%;
    text-align: right;
}

#container {
    margin-left: 10%;
    margin-right: 10%;
}

#upload_photos{
    margin-top: 5%;
}

#lbl_upload {
	font-size: 20;
}

#upload_photo{
	height: 20px;
}

#gallery {
    margin-top: 5%;
}

/*	css para cada imagen en galeria	*/
.wrap-img {
	margin:10px 10px 10px 10px; 
  	/*border:1px solid #0000ff;*/
  	height:200px;
  	width:200px;
 	float:left;
  	text-align:center;
}

.wrap-img img {
  	display:inline;
  	/*margin:3px;*/
  	border:1px solid #ffffff;
  	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

.wrap-img img:hover {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

div.img a:hover img {
  	border:1px solid #0000ff;
}

div.desc {
  	text-align:center;
  	font-weight:normal;
  	width:120px;
  	margin:2px;
}
  

footer {
    margin-top: 10%;
    width: 100%;
}

#cc_rights {
    text-align: right;
}
    


