<!DOCTYPE html>
<html>
<head><title>WebImagen</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="css/webimagen.css" rel="stylesheet" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
</head>

<body>
	<div id="form_login" >
	<form method="post" action="../controller/controller.php?" >
		<fieldset>	
		<legend>Sign In</legend>
		<div class="form_login_component">
		<label for="username">username</label>
		<input type="text" name="username" maxlength="20" autocomplete="on" required autofocus />
		</div>
		<div class="form_login_component">
		<label for="password">password</label>
		<input type="password" name="password" maxlength="40" required min="10" />
		</div>
		<div id="submt_login" class="form_login_component">
		<input type="submit" name="bttn_login" value="submit form &rarr;" />
		</div>
		</fieldset>
	</form>
	</div>
	
	<footer>
	<div id="cc_rights">
	    <section> Develop by: Javier Santiago Restrepo Moncada</section>
	    <section><time datetime="2013-02-18"></time><a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/us/80x15.png" /></a></section>
	</div>
	</footer>
</body>
</html>

