<!DOCTYPE html>
<html>
<head><title>WebImagen</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="css/webimagen.css" rel="stylesheet" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
</head>

<body>
	<div id="info_user" class="info_user">
	<div id="id_user" class="username">username</div>
	<form id="logout" method="post" action="../controller/controller.php">
		<div class="logout"><input type="submit" id="bttn_logout" name="bttn_logout" value="Logout" /></div>
	</form>
	</div>
	
	
	<div id="container">
	
	<div id="upload_photos">
	<form id="form_upload" method="post" action="../controller/controller.php?" enctype="multipart/form-data">
		<input type="hidden" name="id_user" class="upload" value="" />
	    <label for="upload_photo" id="lbl_upload">Agregar:</label>
	    <input type="file" name="upload_photo" id="upload_photo" required />
		<input type="submit" name="bttn_upload" value="UPLOAD" />
	</form></div>
	
	<div id="gallery" class="gallery">
		<section><h1>No fotos</h1></section>
	</div>
	
	</div>
	
	
	<footer>
	<div id="cc_rights">
	    <section>Develop by: Javier Santiago Restrepo Moncada</section>
	    <section><time datetime="2013-02-18"></time><a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/us/80x15.png" /></a></section>
	</div>
	</footer>
</body>
</html>

